
<% if current_user.type_account == true %>
<h1>Empl</h1>
<div class="empl-appl" class="well">
  <% @appls.each do |a| %>
    <% if a.status == "seen" || a.status == "applied" %>
      <% a.status = "seen" %>
      <% a.save %>
      <div class="well">
      <b>First Name:</b><%= a.first_name %>
      <br />
      <b>Last Name:</b><%= a.last_name %>
      <br />
      <b>Date of Birth:</b><%= a.dob %>
      <br />
      <b>Aadhaar number:</b><%= a.aadhaar %>
      <br />
      <b>Email:</b><%= a.user.email %>
      <br />
      <%= time_ago_in_words(a.created_at) %>
      <br />
      <b>Pic:</b><%= image_tag a.avatar.url(:thumb) %>
      <hr />
      <div id="feedback">
        <%= render 'formFeedback', appl: a %>
      </div>
    </div>
    <% else %>
      Already viewed this application.
      <br />
      <%= will_paginate @appls, page_links: false, previous_label: "" %>
    <% end %>
  <% end %>
</div>

<% else %>
<h1><%= current_user.first_name %> <%= current_user.last_name %></h1>
<div class="appl-appl">
<% flag = false %>
<% if Apply.exists?(user_id: current_user.id) %>
<% flag = true %>
<% end %>
<% Apply.all.each do |a| %>
  <% if a.user_id == current_user.id %>
  <div class="well">
    <h2>Your Application:</h2>
    <b>First Name:</b><%= a.first_name %>
    <br />
    <b>Last Name:</b><%= a.last_name %>
    <br />
    <b>Date of Birth:</b><%= a.dob %>
    <br />
    <b>Aadhaar No:</b><%= a.aadhaar %>
    <br />
    <b>Email:</b><%= a.user.email %>
    <br />
    <b>Status:</b><%= a.status %>
    <br />

    <b>Pic:</b><%= image_tag a.avatar.url(:thumb) %>
    <% flag = true %>
    <% if a.status != "seen" %>
    <%= link_to '<button type="button" class="btn btn-default">Edit</button>'.html_safe, edit_apply_path(a) %>
    <%= link_to '<button type="button" class="btn btn-danger">Delete</button>'.html_safe, apply_path(a), method: :delete, data: {confirm: "Are you sure you want to delete the application?"} %>
    <% else %>
    <br />
    <b>Application can't be changed as it is already seen</b>
    <% end %>
  </div>
  <% end %>
<% end %>
<% if flag == false %>
<%if Deadline.first!=nil && Time.now<=Deadline.first.timmer%>
  <%= link_to '<button type="button" class="btn btn-primary">Apply for Pension</button>'.html_safe, new_apply_path %>
<%else%>
<h3>Deadline is over</h3>
<%end%>
<%end%>
<%end%>

</div>
